[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
brotlipy = "*"
mysqlclient = "*"
numpy = "*"
django-heroku = "*"

[requires]
python_version = "3.5.2"