body{
    background-color: rgb(171, 208, 231);
    /* background-image: url('/images/bustemplate.png'); */
    margin:0px;
    padding:0pc;
}

.c1{
    /* background-color: rgb(104,144,123); */
    background-color: #00743F;
}
.c1_font{
    color: #00743F;
}
.c2{
    background-color: #192EFB;
}
.c3{
    background-color: black;
}

#Title{
    margin: auto;
    min-width: 600px;
    background-color: white;
    padding: 10px;
}

h1{
    font-family: avenir;
    font-weight:500;
    margin-top:0px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

h2{
    color: black;
    font-family: avenir;
    font-weight:300;
    margin-top:3px;
    padding-top:3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

h3{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 1px 10px #000000;
}

#main{
    background-color: white;
    margin: auto;
    width: 70%;
    height:350px;
    margin-bottom: 60px;
    margin-top: 20px;
}

#map {
    height: 315px;
}



#twitterFeed{
    width: 300px;
    padding:5px;
    float:left;
    border-color: blue;
    border-width: thick;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


#routePlanner input[type=text] {
    border: 1px solid #ccc;  
  }

#routePlanner a.active {
  background-color: #2196F3;
  color: white;
}

#routePlanner button{
    color:white;
    min-width: 40px;
    min-height: 40px;
    font-size: 20px;
}


.j {
    background-color: rgb(241, 229, 57);
    padding:3px;
    min-width:42px;
    float: left;
    border-radius: 8px;
}

.disable{
    background-color: lightgrey;
    opacity: 0.4;
}


#icon > img{
    width: 100px;
    height:100px;
    padding: 0px;
    margin:0px;
}
.nav2{
    text-align:center;
    color:white;
    background-color:#00743F;
}

.nav2 a:hover {
    background-color: rgb(22, 83, 27);
    color:white;
    margin:0px;
}
.nav2 > .nav-link{
    margin:0px;
    color:white;
}

#homeCenter{
    max-width:1000px;
}

.active {
    color: black;
}

.nav.flex-column a:hover {
    background-color: rgba(105,143,123,0.6);
    color:white;
    
}

.img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-button{
    position: absolute;
    color:white;
    background-color:blue;
    border-radius:10px;
    display: flex;
    justify-content: center;
    left: 40%;
}

input[type=text], select {
    width: 79%;
    display: inline-block;
}

.address input[type=text], select {
    width: 77%;
}

.time input[type=text], select {
    width: 60%;
}

.planner input[type=text], select {
    width: 100%;
}

#planner{
    margin-top: 0px;  
    margin-bottom: 30px; 
    background: gray;
    width: auto;
    height:auto;
}

#planner-toggle 
{
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration:none;
}

#aplanner-toggle:hover 
{
    text-decoration:none;
}

/* th{
    font-size: 5px;
} */
