body{
    background-color: rgb(219,238,233);
    margin:0px;
    padding:0pc;
}

#Title{
    margin: auto;
    min-width: 600px;
    background-color: white;
    padding: 10px;
}

h1{
    color: rgb(104,144,123);
    font-family: avenir;
    font-weight:500;
    margin-top:0px;
    padding-top:0px;
    float:left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

h2{
    color: black;
    font-family: avenir;
    font-weight:300;
    text-align: right;
    margin-top:3px;
    padding-top:3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 60px;
}

#main{
    background-color: white;
    margin: auto;
    width: 70%;
    height:350px;
    margin-bottom: 60px;
    margin-top: 20px;
}

img{
    padding-left: 10px;
}

#map {
    height: 100%;
}

#twitterFeed{
    width: 300px;
    padding:5px;
    float:left;
    border-color: blue;
    border-width: thick;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


/*Navigation Bar 1*/
#Title ul {
    list-style-type: none;
    margin: 0;
    margin-left: 30px;
    margin-top: 17px;
    padding: 0;
    overflow: hidden;
    float:left;
}

#Title li {
    float: left;
}

#Title li a {
    display: block;
    color: rgb(104,144,123);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

#Title li a:hover {
    background-color: rgb(250,219,50);
    border-radius: 6px;
    color: white;
}


/*Navigation Bar 2*/
#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(104,144,123);
}

#main li {
    float: left;
}

#main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main li a:hover {
    background-color: #111;
}

/* Div controls for main information section */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: white;
    width: 70%;
    height:480px;
    margin-top: 30px;
    margin: auto;
}
.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:100%;
    background-color: DodgerBlue;
    color: white;
    width: 40%;
    margin: 10px;
}

#trafficButton{
    float:right;
    height:46px;
    background-color: rgb(250,219,50);
    color: black;
    font-size: 15px;
    
}

#routePlanner input[type=text] {
    border: 1px solid #ccc;  
  }

#routePlanner a.active {
  background-color: #2196F3;
  color: white;
}

#routePlanner button{
    background-color: green;
    color:white;
    min-width: 40px;
    min-height: 40px;
    font-size: 20px;
}

.address{
    float:left;
}

.j {
    background-color: lightblue;
    padding:3px;
    min-width:42px;
    float: left;
}

.disable{
    background-color: lightgrey;
    opacity: 0.5;
}

p{
    font-size: 100px;
    text-align: center;
}

#icon > img{
    width: 100px;
    height:100px;
}