{% load staticfiles %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
            
        
        <title>Dublin Bus</title>
    </head>
    
    <body>
        <!-- Link to main javaScript file -->
        <script src = "{% static 'script/dbus.js' %}"></script>
        <!-- Google Map js link -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&callback=myMap" async defer></script>
        

        <!-- Header with main page title, main navigation bar and team name & Logo -->
        <div id = "Title">
            <a href = "index.html"><h1>Dublin Bus Travel Times</h1></a>
                <ul>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Fares">Fares</a></li>
                    <li><a href="tourism.html">Tourism</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            <h2>Innovation Station </h2>
            <a href = "index.html"><img src = "{% static 'images/Logo.png' %}" alt = "Innovation Station Logo" width = 40px height = 40px style = "position: absolute; right:20px; top:10px;"></a>
        </div>


        <!-- Top section including map and second navigation bar -->
        <div id = "main">
            <ul>
                <li><a href= "index.html">News</a></li>
                <li><a href="stops.html">Stops</a></li>
                <li><a href="#routes">Routes</a></li>
                <button id = "trafficButton" onclick="toggleTraffic(this)">Show Traffic</button>
            </ul>
            <div id = "map"></div>
        </div>


        <!-- Bottom section including news information and tweets -->
        <div class = "row">
            <div class = "column" style="flex-grow: 9">
                <div id =weatherDiv>
                    <h2><b>Weather: </b>{{weather.main}}</h2>
                    <h3><b>Temp: </b>{{weather.temp}}</h3>
                    <h3><b>Min: </b>{{weather.temp_min}}</h3>
                    <h3><b>Max: </b>{{weather.temp_max}}</h3>
                    <div id = "icon"><img src = {{weather.icon}}> </div>
                    
                <!-- <h2>{{weather.main}}</h2>
                <h3>{{weather.temp}}</h3>
                <div id="weatherDiv"></div> -->
                <!-- <h2><u>NEWS</u>
                    &#128169</p></h2> -->
                </div>
            </div>
    
            <div class = "column" style="flex-grow: 0">
                <!-- Twitter links -->
                <div id = "twitterFeed">
                    <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div id = "twitterFeed">
                    <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
<!--
        <div class="footer">
            <p>Footer</p>
        </div>
-->     

        <!-- Bootstrap Script -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
    
</html>