{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <body>

            <script>
                $(document).ready(function() {
                        myMap()
                    });
            </script>

        <!-- Link to main javaScript file -->
        <script src = "{% static 'script/dbus.js' %}"></script>
        <!-- Google Map js link -->
 <!-- Google Map js link -->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&libraries=places&callback=myMap"
 async defer></script>
        <script src = "{% static 'script/jquery.timepicker.min.js' %}"> </script>
        
  
        <!-- Header with main page title, main navigation bar and team name & Logo -->
        

        <div id = "homeCenter" class="container">
            <div class="row">

                <div class = "col-sm-12">
                    <div class = "col-sm-12">
                        <div class="planner-toggle col-sm-12 shadow text-center text-white mt-2" style = "background-color:rgb(255, 113, 19);">
                            <a href = "#0" id = "planner-toggle">Expand Route Planner</a>
                        </div>

                        <div id = "planner" class="c1 col-sm-12 text-center text-white" style = "display:none;background-color:#00743F;">
                            <form id = "routePlanner" role = "form" method="POST">
                                {% csrf_token %}
                                <div class = "row">
                                    
                                    <div class = "col-sm-5 mt-2 address">
                                        <div class = "j btn-block">From: {{ form.source }}
                                        <a onclick = "swapDirection()">&#8645</a></div>
                                        <div class = "j btn-block">To: &nbsp &nbsp &nbsp {{ form.destination }}</div>
                                    </div>  

                                    <div class = "col-sm-3 mt-2 time">  
                                        <div class = "j btn-block"><input id = "single" type= "radio" name="trip" value="single" checked> Single {{ form.departTime }}</div>
                                        <div class = "j btn-block"><input id = "return" type= "radio" name="trip" value="return"> Return {{ form.returnTime }}</div>
                                    </div>
                                    <div class = "col-sm-4 mt-2"> 
                                        <div id = "dDate" class = "j btn-block">Date: {{ form.departDate }}</div>
                                        <div class = "j btn-block">Date: {{ form.returnDate }}</div>
                                    </div>
                                </div>   
                                <div class = "row">
                                    <button type ="submit" class = "btn btn-block btn-primary m-2" type = "button" name = "go" onclick="showLoadDiv()">GO!</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">


                    <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Dont Know Stop?</button>

                    <div id="demo" class="collapse">
                        <div class="pac-card" id="pac-card">
        
                            <div id="pac-container">
                                <br>
                                <h6>You can use the below search option to zoom in on a specific area on the map</h6>
                                <br>
                                <h6>Once the map has zoomed to that area, you can choose to toggle the markers to show the stops</h6>
                                <br>
        
                                <div>
                                    <input id="genSearch" placeholder="Search General Area" type="text"></input>

                                    
                                </div>
        
        
                            </div>
                        </div>

                    </div> -->

       
            

            <div class="row">
                <div class="col-sm-8">

                    <div class="c1 col-sm-12 shadow rounded mt-4" style="padding:3px;">
                        <div class = "container-fluid">
                            <div class="row">
                                <div class="col-4 nav2 border border-white border-top-0 border-left-0 border-bottom-0"><a class = "nav-link" id = "trafficButton" onclick="toggleTraffic(this)" href = "#">Traffic</a></div>
                                <div class="col-4 nav2 border border-white border-top-0 border-left-0 border-bottom-0"><a class = "nav-link" href = "#" onclick="displayBusMarkers()" id="markersbutton">Stops</a></div>
                                <div class="col-4 nav2"><a class = "nav-link" href = "#" onclick = "displayBikeMarkers()" id="bikesbutton">Bikes</a></div>
                            </div>
                        </div>
                        <div id = "map"></div>
                        <script>
                            //Rezises the map div to a smaller value for very short phone screens
                            // $(document).ready(function(){
                            //     var width = $(window).width(); 
                            //     var height = $(window).height(); 
        
                            //     if (height<=740) {
                            //         $('#map').css("height", "240px")
                            //     }
                                
                            // });
                        </script>

                    </div>
                </div>

        
                <div class="col-sm-4">

                    <div class="c1 col-sm-12 shadow rounded mt-4" style="padding:2px;">

                        <div class = "container-fluid mt-2 mb-1">
                            <h1 style = "text-align:center;font-size:23px;" class = "text-white">Dublin, {{weather.day}} {{weather.date}} {{weather.month}}</h1>
                        </div>
                        <div class = "container-fluid ">
                            <div class = "row" style = "color:white;font-size: 14px;">
                                <div class = "col-sm-5">
                                    <div id = "icon"><img src = {{weather.icon}}></div>
                                </div>
                                <div class = "col-sm-7" style = "padding:0px;">
                                    <b>Weather: </b>{{weather.main}} <br>
                                    <b>Temp: </b>{{weather.temp}} °C<br>
                                    <b>Wind: </b>{{weather.wind}} km/h<br>
                                    <b>Max: </b>{{weather.temp_max}} °C<br>
                                </div>
                            </div>

                            <div class="container-fluid rounded pt-1 pb-1" style = "background-color:white;margin:5px;">
                                <div class = "flex-column">
                                    <ul class="nav flex-column">
                                        <li class="nav-item border border-black border-top-0 border-left-0 border-right-0">
                                            <a class="nav-link rounded" href="#">News <span style = "float:right;color:black">&#8674</span></a>
                                        </li>
                                        <li class="nav-item border border-black border-top-0 border-left-0 border-right-0">
                                            <a class="nav-link rounded" href="stops.html">Stops <span style = "float: right;color:black">&#8674</span></a>
                                        </li>
                                        <li class="nav-item border border-black border-top-0 border-left-0 border-right-0">
                                            <a class="nav-link rounded" href="routes.html">Address<span style = "float: right;color:black">&#8674</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded" href="#">Weekly Weather<span style = "float: right;color:black">&#8674</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link rounded" href="test.html">Test<span style = "float: right;color:black">&#8674</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class = "col-sm-12">
                <div class=" c1 row shadow rounded" style = "margin-top:20px;">
                    <div class="col-sm-8">
                        
                        <img src= "{% static 'images/busscaled.png' %}" alt = "Bus Picture" style = "width:100%;padding-top: 5px;">
                        <div class = "img-centered"><h3>New to Dublin Bus?<br>Check Fares information</h3>
                            <a href = "tourism.html"><button class = "img-button">Fares</button></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id = "twitterFeed">
                            <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div id = "twitterFeed">
                            <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            var d = new Date();
            var fullDate = String(d.getMonth() + 1) + "/" + String(d.getDate()) + "/" + String(d.getFullYear());
            document.getElementById("id_departDate").value = fullDate;
            $('#id_departTime').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now', timeFormat: "H:i" });
            $( function() {
            $( "#id_departDate" ).datepicker();
            });
            $('#id_returnTime').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now',timeFormat: "H:i" });
            $( function() {
            $( "#id_returnDate" ).datepicker({});
            });
        </script>
    

        </body>
    {% endblock %}
