{%extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<body>
    <!-- Link to main javaScript file -->
    <script src="{% static 'script/dbus.js' %}"></script>
    <!-- Google Map js link -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&libraries=places&callback=myMap"
        async defer></script>
    <script src="{% static 'script/jquery.timepicker.min.js' %}"></script>


    <div id="homeCenter" class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-12 shadow rounded mt-4" style="background-color:rgb(105,143,123);padding:3px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col nav2 border border-white border-top-0 border-left-0 border-bottom-0">
                                <a class="nav-link" id="trafficButton" onclick="toggleTraffic(this)" href="#">Traffic</a>
                            </div>
                            <div class="col nav2 border border-white border-top-0 border-left-0 border-bottom-0">
                                <a class="nav-link" href="#" onclick="displayBusMarkers()" id="markersbutton">Markers</a>
                            </div>
                            <div class="col nav2">
                                <a class="nav-link" href="#" onclick="displayBikeMarkers()" id="bikesbutton">Bikes</a>
                            </div>
                        </div>

                    </div>

                    <div id="map"></div>
                    <div id = "RouteDiv"></div>


                </div>

                <div id="directionsPanel" style="background-color:white;float:right"></div>

            </div>

            <div class="col-sm-4">
                
                <div class="col-sm-12 rounded shadow mt-4" style = "background-color:rgb(105,143,123);">
                    <h3>Route Planner</h3>
                    <!-- <button type="button" class="btn btn-block btn-info" data-toggle="collapse" data-target="#demo">Dont Know Stop?</button>
                    <div id="demo" class="collapse">
                        <div class="pac-card" id="pac-card">

                            <div id="pac-container">
                                <br>
                                <h6>You can use the below search option to zoom in on a specific area on the map</h6>
                                <br>
                                <h6>Once the map has zoomed to that area, you can choose to toggle the markers to show the stops</h6>
                                <br>

                                <div>
                                    <input id="genSearch" placeholder="Search General Area" type="text"></input>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <script>
                        $(document).ready(function(){
                            $('[data-toggle="popover"]').popover();   
                        });
                        </script>
                    <a href="#" data-toggle="popover" title="Find a stop number" data-content="You can use the below search option to zoom in on a specific area on the map. Once the map has zoomed to that area, you can choose to toggle the markers to show the stops"><button class = "btn btn-success btn-block">Don't Know Stop?</button></a>
                    <button class = "btn btn-block btn-secondary">Search by Route</button> -->
                    <div class = "row">
                        <div class = "col-6 text-center text-white border border-white border-top-0 border-left-0 border-bottom-0">
                            <a href = "#" onclick = "findStop()">Find Stop</a>
                        </div>
                        <div class = "col-6 text-center text-white">
                            <a href = "#" onclick = "findRoute()">Route Info</a>
                        </div>
                    </div>
                    <div id = "stuff" style = "display:none;"><h3>Enter a location below to view the it's local stops</h3><div><input id='genSearch' placeholder='Search General Area' type='text'></input></div></div>
                    <div id = "stuff2" style = "display:none;"><h3>Enter a route number to view on map</h3><input id = "routeSearch"></div>
                    <script>
                    function findStop(){
                        document.getElementById("stuff").style.display = "block";
                        document.getElementById("stuff2").style.display = "none";
                    }
                    function findRoute(){
                        document.getElementById("stuff2").style.display = "block";
                        document.getElementById("stuff").style.display = "none";
                    }
                    </script>
                </div>
                
                <!-- <input type="text" id="id_source"> -->
                
                <div class="col-sm-12 rounded shadow mt-3" style = "background-color:rgb(105,143,123);">
                    <div class = "row text-center text-white">
                        <div class = "col-6 nav-justified" style = "background-color: rgb(105,143,123)" id = "stopSearch" onclick="swapSearch()">
                            <strong>By Stop</strong>
                        </div>
                        <div class = "col-6 text-center" style = "background-color: black;" id = "addSearch" onclick="swapSearch()">
                            <strong>By Address</strong>
                        </div>
                    </div>

                   
                    <form id = "routePlanner" role = "form" method="POST">
                        {% csrf_token %}
                        <div class = "row mt-2">
                            
                            <div class = "j btn-block ml-2 mr-2">From: {{ form.source }}
                            <!-- <a onclick = "swapDirection()">&#8645</a> --></div>
                            <div class = "j btn-block ml-2 mr-2">To: &nbsp &nbsp  {{ form.destination }}</div>
                            
                            <div class = "j btn-block m-2 mt-0">
                                <input id = "single" type= "radio" name="trip" value="single" checked> Single &nbsp &nbsp &nbsp &nbsp
                                <input id = "return" type= "radio" name="trip" value="return"> Return 
                                <div class = "row">
                                    <div class = "col-6 planner">{{ form.departTime }}</div>
                                    <div class = "col-6 planner">{{ form.departDate }}</div>
                                </div>

                                <div class = "row mt-1">
                                    <div class = "col-6 planner">{{ form.returnTime }}</div>
                                    <div class = "col-6 planner">{{ form.returnDate }}</div>
                                </div>
                            </div>

                            
                            
                            
                                <script>
                                    var d = new Date();
                                    var fullDate = String(d.getMonth() + 1) + "/" + String(d.getDate()) + "/" + String(d.getFullYear());
                                    document.getElementById("id_departDate").value = fullDate;
                                    $('#id_departTime').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now', timeFormat: "H:i" });
                                    $( function() {
                                    $( "#id_departDate" ).datepicker();
                                    });
                                    $('#id_returnTime').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now',timeFormat: "H:i" });
                                    $( function() {
                                    $( "#id_returnDate" ).datepicker({});
                                    });
                                </script>
                            
                        </div>   
                        <div class = "row">
                            <button type ="submit" class = "btn btn-block btn-primary m-2" name = "go" onclick="showRoute();">GO!</button>
                            <script>

                var onEnter = document.getElementById("routeSearch");

                onEnter.addEventListener("keydown", function (value) {
                    if (value.keyCode === 13) {

                        getStops(value);
                    }
                });

                var markers = [];

                function getStops() {
                    //this function is responsible for displaying the route information
                    //It uses jQuery to intitialise and pass the value to the url and to grab the data that is returned by get_route_info


                    // poly = new google.maps.Polyline({
                    //     strokeColor: '#000000',
                    //     strokeOpacity: 1.0,
                    //     strokeWeight: 3
                    // });
                    // poly.setMap(map);


                    if (markers)

                        //this checks to see if there are markers on the map, if there are markers it removes them before the function happens to add the new ones. 
                        for (var i = 0; i < markers.length; i++) {

                            markers[i].setMap(null);

                        }


                    var jqxhr = $.getJSON('/details/' + document.getElementById("routeSearch").value + '/', function (daily) {


                        var table = "";
                        table =
                            "<table class = 'table table-hover table-condensed table-sm table-bordered table-striped overflow-y: hidden'>";
                        table += "<tr><thead>";
                        table += "<th>Stop</th>";
                        table += "</tr></thead><tbody>";

                        for (var i = 0; i < daily.length; i++) {


                            var lat = daily[i].lat;
                            var long = daily[i].lng;
                            var name = daily[i].name;

                            var id = daily[i].id;

                            table += "<tr>";
                            table += "<td>" + daily[i].name + "(" + id + ")" + "</td>";
                            table += "</tr>";


                            infoWindow = new google.maps.InfoWindow;
                            infoBus = new google.maps.InfoWindow;

                            //this function displays the dublin bus markers
                            myLatLng = new google.maps.LatLng(lat, long)
                            marker = new google.maps.Marker({
                                position: myLatLng,
                                map: map,
                                title: name + "(" + id + ")"
                            });

                            marker.addListener('mouseover', function () {
                                infoBus.open(map, this);
                                infoBus.setContent(this.title);
                            })

                            markers.push(marker);

                            // <!-- 
                            //                             var path = poly.getPath();
                            //                             path.push(myLatLng); -->
                        }

                        table += "</tbody></table>";
                        document.getElementById("RouteDiv").innerHTML = table;
                    })  
                };
                                function generateQuery() {

                                    //this function gets real time information for the stop that is selected.

                                    var jqxhr = $.getJSON(
                                        'https://data.smartdublin.ie/cgi-bin/rtpi/realtimebusinformation?stopid=' +
                                        document.getElementById("id_source").value + '&format=json',
                                        function (daily) {
                                            var now = new Date();
                                            var temp = new Date();

                                            var table = "";
                                                    table = "<table class = 'table table-hover table-condensed table-sm table-bordered table-striped overflow-y: hidden'>";
                                                    table += "<tr><thead>";
                                                    table += "<th>Route</th>";
                                                    table += "<th>Destination</th>";
                                                    table += "<th>Arrival Time</th>";
                                                    table += "<th>Expected</th>";
                                                    table += "</tr></thead><tbody>";
                                                    x = daily.results;
                                                    for (var i = 0; i < x.length; i++) {
                                                        
                                                        var ti = x[i].arrivaldatetime.slice(11,);
                                                        
                                                        var array = ti.split(":");
                                                        temp.setHours(array[0]);
                                                        temp.setMinutes(array[1]);
                                                        temp.setSeconds(array[2]);
                                                        var difference = new Date();
                                                        difference.setTime(temp-now);
                                                        var m = difference.getMinutes();
                                                        
                                                        if (difference.getSeconds() >= 30){
                                                            m = m + 1;
                                                        };
                                                        if (m == 0){
                                                            m = "Due"
                                                        } else{
                                                            m = String(m) + " mins"
                                                        };
                                              
                                                        table += "<tr>";
                                                        table += "<td>" + x[i].route + "</td>";
                                                        table += "<td>" + x[i].destination + "</td>";
                                                        table += "<td>" + ti.slice(0 ,5) + "</td>";
                                                        table += "<td>" + m + "</td>";
                                                        table += "</tr>";
                                                        }
                                                    table += "</tbody></table>";
                                                    document.getElementById("table").innerHTML = table;
                                                    
                                        })
                                    };
                            </script>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>


        

        <script>

            var d = new Date();
            var fullDate = String(d.getMonth() + 1) + "/" + String(d.getDate()) + "/" +
                String(d.getFullYear());
            document.getElementById("id_departDate").value = fullDate;
            $('#id_departTime').timepicker({
                'forceRoundTime': true,
                'scrollDefault': 'now',
                timeFormat: "H:i"
            });
            $(function () {
                $("#id_departDate").datepicker();
            });
            $('#id_returnTime').timepicker({
                'forceRoundTime': true,
                'scrollDefault': 'now',
                timeFormat: "H:i"
            });
            $(function () {
                $("#id_returnDate").datepicker({});
            });
        </script>

        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <!-- <div class="col-sm-12 rounded shadow" style="background-color:rgb(105,143,123);">
                    <div class="display-4 mb-3 border-bottom border-black">Tuesday 10 July</div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-sm-12 rounded shadow mb-3" style="background-color:white;">
                                <h1 class="display-4">{{ depart_time }}</h1>
                                <h2 class="ml-2 font-weight-bold text-uppercase">UCD</h2>
                                <h2 class="ml-2">Stop {{ source }}</h2>
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <strong>---------</strong>
                            <img class="animated bounce infinite" src="{% static 'images/dbuscartoon.png' %}">
                            <strong>---------</strong>
                            <h4 class="ml-2 mt-2 text-white">Travel Time {{ est }} mins</h4>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-12 rounded shadow" style="background-color:white;">
                                <h1 class="display-4">{{ arrival_time }}</h1>
                                <h2 class="ml-2 font-weight-bold text-uppercase">Delhurst</h2>
                                <h2 class="ml-2">Stop {{ destination }}</h2>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-4 mb-3">
                            <a href = "#homeCenter"><button class = "btn btn-block btn-success" onclick = "getValue();">Walk Me</button></a>
                        </div>
                        <div class = "col-sm-4">
                            <button class = "btn btn-block btn-danger" onclick="generateQuery()">Real-time</button>
                        </div>
                        <div class = "col-sm-4">
                            <button class = "btn btn-block btn-warning text-white">Timetable</button>
                        </div>
                    </div>
                    <div class = "container mb-3" style = "background-color: aliceblue;" id = "table"></div>
                    
                </div> -->
                <div class="row shadow rounded" style = "margin-top:20px;background-color:rgb(105,143,123);">
                    <div class="col-sm-8">
                        
                        <img src= "{% static 'images/bus.jpg' %}" alt = "Bus Picture" style = "width:100%;">
                        <div class = "img-centered"><h3>New to Dublin Bus?<br>Check out Fares Info</h3>
                            <button class = "img-button">Fares</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id = "twitterFeed">
                            <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div id = "twitterFeed">
                            <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
       

        <script>
            function getValue() {

                //this function is responsible for the directions service. 
                //it takes the source destintion input value to find its long/lat through an if statament
                //and the users current location 
                //and it will display the results on the map and the actual written directions below!

                var curLat = pos.lat;
                var curLng = pos.lng;


                var x = document.getElementById("id_source").value;


                "{% if bus %}"
                "{% for p in bus %}"

                var lat = "{{ p.lat }}"
                var long = "{{ p.lng }}"


                lat = parseFloat(lat);
                long = parseFloat(long);


                if (x == "{{ p.num }}") {


                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();

                    var start = new google.maps.LatLng(curLat, curLng);
                    var end = new google.maps.LatLng(lat, long);

                    var mapProp = {
                        center: new google.maps.LatLng(53.347515, -6.265377),
                        zoom: 10,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);
                    directionsDisplay.setMap(map);
                    directionsDisplay.setPanel(document.getElementById('directionsPanel'));


                    function calcRoute() {

                        var request = {
                            origin: start,
                            destination: end,
                            travelMode: 'WALKING'
                        };
                        directionsService.route(request, function (result, status) {
                            if (status == 'OK') {
                                directionsDisplay.setDirections(result);
                            }
                        });

                    }

                    calcRoute();
                }



                "{% endfor %}"
                "{% endif %}"


            }


            var placeSearch, autocomplete;

            function initialize() {


                //https://www.w3docs.com/learn-javascript/places-autocomplete.html
                //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-multiple-countries

                //the below function used a combination of the above two efforts. 


                //This function is responsible for allowing the user to search for a general address
                //the map will then zoom in on that place
                //they can then chose to view the markers in that area.

                autocomplete = new google.maps.places.Autocomplete(document.getElementById('genSearch'));

                autocomplete.setComponentRestrictions({
                    'country': 'ie'
                });

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    console.log(place);

                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }

                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17); // Why 17? Because it looks good.
                    }
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);
                });
            };


            initialize();



            

            var busMarkers = 0;

            function displayBusMarkers() {


                infoWindow = new google.maps.InfoWindow;
                infoBus = new google.maps.InfoWindow;

                if (busMarkers == 0) {


                    var markers = []


                    //this function displays the dublin bus markers

                    "{% if bus %}"
                    "{% for p in bus %}"

                    var data = "{{ p }}"
                    var lat = "{{ p.lat }}"
                    var long = "{{ p.lng }}"
                    var name = "{{ p.name }}"
                    var id = "{{ p.num }}";

                    var lat = parseFloat(lat);
                    var long = parseFloat(long);



                    var latlng = new google.maps.LatLng(lat, long);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        title: name

                    });

                    markers.push(marker);


                    google.maps.event.addListener(marker, 'mouseover', (function (markers) {
                        return function () {
                            infoBus.open(map, this);
                            infoBus.setContent('{{ p.name }}' + '<br>' + '(' + '{{ p.id }}' + ')');
                        }
                    })(markers));

                    google.maps.event.addListener(marker, 'click', (function (markers) {
                        return function () {

                            document.getElementById("id_source").value = '{{ p.name }}';
                        }
                    })(markers));


                    "{% endfor %}"
                    "{% endif %}"


                    var markerCluster = new MarkerClusterer(map, markers, {
                        imagePath: "{% static 'images/m' %}"
                    });

                    document.getElementById("markersbutton").innerHTML = "Hide Markers";

                    busMarkers++;

                } else {

                    var mapProp = {
                        center: new google.maps.LatLng(53.347515, -6.265377),
                        zoom: 10,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);

                    document.getElementById("markersbutton").innerHTML = "Markers";
                    busMarkers--;

                };
            }

            var bikeMarkers = 0;


            infoWindow = new google.maps.InfoWindow;
            infoBikes = new google.maps.InfoWindow;

            function displayBikeMarkers() {

                if (bikeMarkers == 0) {

                    //this function displays the dublin bikes markers


                    var markers = [];


                    "{% if bikes %}"
                    "{% for i in bikes %}"

                    var data = "{{ i }}"
                    var lat = "{{ i.lat }}"
                    var long = "{{ i.lng }}"
                    var name = " {{ i.name }}"


                    var busicon = {
                        url: "{% static 'images/dublinBikes.png' %}", // url
                        scaledSize: new google.maps.Size(40, 40), // scaled size            
                    };



                    var latlng = new google.maps.LatLng(lat, long);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        icon: busicon,
                        title: name
                    });

                    markers.push(marker);


                    google.maps.event.addListener(marker, 'click', (function (markers) {
                        return function () {
                            infoBikes.open(map, this);
                            infoBikes.setContent('{{ i.name }}');
                        }
                    })(markers));

                    "{% endfor %}"
                    "{% endif %}"

                    var markerCluster = new MarkerClusterer(map, markers, {
                        imagePath: "{% static 'images/m' %}"
                    });

                    bikeMarkers++;

                    document.getElementById("bikesbutton").innerHTML = "Hide Bikes";


                } else {


                    var mapProp = {
                        center: new google.maps.LatLng(53.347515, -6.265377),
                        zoom: 10,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);

                    document.getElementById("bikesbutton").innerHTML = "Bikes";
                    bikeMarkers--;

                }

            };

            // $(function () {
            //     $("#id_destination").autocomplete({
            //         source: "api/getDesintation/",
            //         select: function (event, ui) { //item selected
            //             AutoCompleteSelectHandler(event, ui)
            //         },
            //         minLength: 1,
            //     });
            // });

            // function AutoCompleteSelectHandler(event, ui) {
            //     var selectedObj = ui.item;
            // }
        </script>
    
    </body>
{% endblock %}
