{%extends 'base.html' %} {% load staticfiles %} {% block body %}

<body>
    <script>
        $(document).ready(function() {
                myMap()
            });
    </script>
    <!-- Link to main javaScript file -->
    <script src="{% static 'script/dbus.js' %}"></script>
    <!-- Google Map js link -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&libraries=places&callback=myMap"
        async defer></script>
    <script src="{% static 'script/jquery.timepicker.min.js' %}"></script>


    <div id="homeCenter" class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="c1 col-sm-12 shadow rounded mt-4" style="padding:3px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4 nav2 border border-white border-top-0 border-left-0 border-bottom-0">
                                <a class="nav-link" id="trafficButton" onclick="toggleTraffic(this)" href="#">Traffic</a>
                            </div>
                            <div class="col-4 nav2 border border-white border-top-0 border-left-0 border-bottom-0">
                                <a class="nav-link" href="#" onclick="displayBusMarkers()" id="markersbutton">Markers</a>
                            </div>
                            <div class="col-4 nav2">
                                <a class="nav-link" href="#" onclick="displayBikeMarkers()" id="bikesbutton">Bikes</a>
                            </div>
                        </div>
                    </div>

                    <div id="map"></div>
                    <script>
                        //Rezises the map div to a smaller value for very short phone screens
                        $(document).ready(function () {
                            var width = $(window).width();
                            var height = $(window).height();

                            if (height <= 740) {
                                $('#map').css("height", "240px")
                            }

                        });
                    </script>
                    <!-- <div id = "RouteDiv"></div> -->
                </div>

                <div id="directionsPanel" style="background-color:white;float:right"></div>

            </div>


            <div class="col-sm-4">
                <div class="c1 col-sm-12 rounded shadow mt-4">
                    <h3>Route Planner</h3>
                    <div class="row">
                        <div class="col-6 text-center text-white border border-white border-top-0 border-left-0 border-bottom-0">
                            <a href="#" onclick="findStop()">
                                <span style="color:white;">Find Stop</span>
                            </a>
                        </div>
                        <div class="col-6 text-center text-white">
                            <a href="#" onclick="findRoute()">
                                <span style="color:white" onclick="placeSearch()">Route Info</span>
                            </a>
                        </div>
                    </div>
                    <div id="stopSearchOptions" style="display:none;border-top:1px solid white;">
                        <p class="text-white">Enter a location below to view the it's local stops</p>
                        <div>
                            <inputid='genSearch' placeholder='Search Area' type='text'></input>
                        </div>
                    </div>
                    <div id="routeSearchOptions" style="display:none;border-top:1px solid white;">
                        <p class="text-white">Enter a route number to view on map</p>
                        <input onfocus="routeSearch()" id="routeSearch" placeholder="Search Routes">
                    </div>

                </div>


                <div class="c1 col-sm-12 rounded shadow mt-2">
                    <div class="row text-center text-white">
                        <div class="c1 col-6 nav-justified" id="stopSearch" onclick="swapSearch()">
                            <strong>By Stop</strong>
                        </div>
                        <div class="col-6 text-center" style="background-color: black;" id="addSearch" onclick="swapSearch()">
                            <strong>By Address</strong>
                        </div>
                    </div>


                    <form id="routePlanner" role="form" method="POST">
                        {% csrf_token %}
                        <div class="row mt-2">

                            <div class="j btn-block ml-2 mr-2">From: {{ form.source }}
                                <!-- <a onclick = "swapDirection()">&#8645</a> -->
                            </div>
                            <div class="j btn-block ml-2 mr-2">To: &nbsp &nbsp {{ form.destination }}</div>

                            <div class="j btn-block m-2 mt-0">
                                <input id="single" type="radio" name="trip" value="single" checked> Single &nbsp &nbsp &nbsp &nbsp
                                <input id="return" type="radio" name="trip" value="return"> Return
                                <div class="row">
                                    <div class="col-6 planner">{{ form.departTime }}</div>
                                    <div class="col-6 planner">{{ form.departDate }}</div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-6 planner">{{ form.returnTime }}</div>
                                    <div class="col-6 planner">{{ form.returnDate }}</div>
                                </div>
                            </div>


                            <script>
                                var d = new Date();
                                var fullDate = String(d.getMonth() + 1) + "/" + String(d.getDate()) + "/" + String(d.getFullYear());
                                document.getElementById("id_departDate").value = fullDate;
                                $('#id_departTime').timepicker({
                                    'forceRoundTime': true,
                                    'scrollDefault': 'now',
                                    timeFormat: "H:i"
                                });
                                $(function () {
                                    $("#id_departDate").datepicker();
                                });
                                $('#id_returnTime').timepicker({
                                    'forceRoundTime': true,
                                    'scrollDefault': 'now',
                                    timeFormat: "H:i"
                                });
                                $(function () {
                                    $("#id_returnDate").datepicker({});
                                });
                            </script>

                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-block btn-primary m-2" name="go">GO!</button>


                        </div>
                        <div class="row">

                            <script>
                                function placeSearch() {


                                    //https://www.w3docs.com/learn-javascript/places-autocomplete.html
                                    //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-multiple-countries

                                    //the below function used a combination of the above two efforts. 


                                    //This function is responsible for allowing the user to search for a general address
                                    //the map will then zoom in on that place
                                    //they can then chose to view the markers in that area.

                                    autocomplete = new google.maps.places.Autocomplete(document.getElementById(
                                        'genSearch'));

                                    autocomplete.setComponentRestrictions({
                                        'country': 'ie'
                                    });

                                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                                        var place = autocomplete.getPlace();


                                        if (!place.geometry) {
                                            // User entered the name of a Place that was not suggested and
                                            // pressed the Enter key, or the Place Details request failed.
                                            window.alert("No details available for input: '" + place.name + "'");
                                            return;
                                        }

                                        // If the place has a geometry, then present it on a map.
                                        if (place.geometry.viewport) {
                                            map.fitBounds(place.geometry.viewport);
                                        } else {
                                            map.setCenter(place.geometry.location);
                                            map.setZoom(17); // Why 17? Because it looks good.
                                        }
                                        marker.setPosition(place.geometry.location);
                                        marker.setVisible(true);
                                    });
                                };

                                //This piece of code allows the getStops function to be called when the user hits the enter key. 

                                var onEnter = document.getElementById("routeSearch");

                                onEnter.addEventListener("keydown", function (value) {
                                    if (value.keyCode === 13) {

                                        getStops(value);
                                    }
                                });

                                var markers = [];

                                function getStops() {

                                    //this function is responsible for displaying the route information
                                    //It uses jQuery to intitialise and pass the value to the url and to grab the data that is returned by get_route_info

                                    if (markers)

                                        //this checks to see if there are markers on the map, if there are markers it removes them before the function happens to add the new ones. 
                                        for (var i = 0; i < markers.length; i++) {

                                            markers[i].setMap(null);

                                        }


                                    var jqxhr = $.getJSON('/details/' + document.getElementById("routeSearch").value +
                                        '/',
                                        function (daily) {


                                            var table = "";
                                            table =
                                                "<table class = 'table table-hover table-condensed table-sm table-bordered table-striped overflow-y: hidden'>";
                                            table += "<tr><thead>";
                                            table += "<th>Stop</th>";
                                            table += "</tr></thead><tbody>";

                                            for (var i = 0; i < daily.length; i++) {


                                                var lat = daily[i].lat;
                                                var long = daily[i].lng;
                                                var name = daily[i].name;

                                                var id = daily[i].id;

                                                table += "<tr>";
                                                table += "<td>" + daily[i].name + "(" + id + ")" + "</td>";
                                                table += "</tr>";


                                                infoWindow = new google.maps.InfoWindow;
                                                infoBus = new google.maps.InfoWindow;

                                                //this function displays the dublin bus markers
                                                myLatLng = new google.maps.LatLng(lat, long)
                                                marker = new google.maps.Marker({
                                                    position: myLatLng,
                                                    map: map,
                                                    title: name
                                                });

                                                marker.addListener('mouseover', function () {
                                                    infoBus.open(map, this);
                                                    infoBus.setContent(this.title);
                                                })

                                                marker.addListener('click', function () {
                                                    document.getElementById("id_source").value = this.title;

                                                })

                                                markers.push(marker);

                                                // <!-- 
                                                //                             var path = poly.getPath();
                                                //                             path.push(myLatLng); -->
                                            }

                                            table += "</tbody></table>";
                                            document.getElementById("RouteDiv").innerHTML = table;
                                        })
                                };
                            </script>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <script>
            var d = new Date();
            var fullDate = String(d.getMonth() + 1) + "/" + String(d.getDate()) + "/" +
                String(d.getFullYear());
            document.getElementById("id_departDate").value = fullDate;
            $('#id_departTime').timepicker({
                'forceRoundTime': true,
                'scrollDefault': 'now',
                timeFormat: "H:i"
            });
            $(function () {
                $("#id_departDate").datepicker();
            });
            $('#id_returnTime').timepicker({
                'forceRoundTime': true,
                'scrollDefault': 'now',
                timeFormat: "H:i"
            });
            $(function () {
                $("#id_returnDate").datepicker({});
            });
        </script>

        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="c1 row shadow rounded" style="margin-top:20px;">
                        <div class="col-sm-8">
                            <!-- <button onclick="googDirections()">Directions</button>
                            <button onclick = "busNumber()">route number</button> -->
                            <div id="busRouteNum"></div>
                            <img src="{% static 'images/bus.jpg' %}" alt="Bus Picture" style="width:100%;padding-top: 5px;">
                            <div class="img-centered">
                                <h3>New to Dublin Bus?
                                    <br>Check Fares information</h3>
                                <a href="tourism.html">
                                    <button class="img-button">Fares</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="twitterFeed">
                                <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div id="twitterFeed">
                                <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="stopsNearMe()">Stops Near Me</button>
        </div>
        <script>
            function googDirections() {
                var x = document.getElementById("id_source").value;
                var y = document.getElementById("id_destination").value;


                "{% if bus %}"
                "{% for p in bus %}"

                if (x == "{{ p.num }}" || x == "{{ p.name }}") {

                    var slat = "{{ p.lat }}"
                    var slong = "{{ p.lng }}"

                    var startLat = parseFloat(slat);
                    var startLng = parseFloat(slong);

                };

                if (y == "{{ p.num }}" || y == "{{ p.name }}") {

                    var flat = "{{ p.lat }}"
                    var flong = "{{ p.lng }}"

                    var finLat = parseFloat(flat);
                    var finLng = parseFloat(flong);
                };

                "{% endfor %}"
                "{% endif %}"

                // var startLat = 53.309442;
                // var startLng =  -6.218855;

                // var finLat = 53.381437;
                // var finLng = -6.591407;

                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();

                var start = new google.maps.LatLng(startLat, startLng);
                var end = new google.maps.LatLng(finLat, finLng);

                var mapOptions = {
                    zoom: 14,
                    center: start
                }
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                directionsDisplay.setMap(map);


                function calcRouteNum() {
                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: 'TRANSIT',
                        transitOptions: {
                            //departureTime: new Date(1337675679473),
                            modes: ['BUS'],
                            routingPreference: 'FEWER_TRANSFERS'
                        },
                    };
                    directionsService.route(request, function (response, status) {
                        if (status == 'OK') {
                            directionsDisplay.setDirections(response);

                            var x = response.routes[0].legs[0].steps;
                            var buses = [];
                            for (var i = 0; i < x.length; i++) {
                                try {
                                    buses.push(x[i].transit.line.short_name);
                                } catch {}
                            }
                        }
                        //var res = response.routes[0].legs[0].steps[0].transit.line.short_name;


                        var jqxhr = $.getJSON('/busNum/' + buses[0] + '/', function (daily) {
                            document.getElementById("busRouteNum").innerHTML = daily;
                        });
                    })
                };
            }
            calcRouteNum()
        </script>



        <script>
            function getValue() {

                //this function is responsible for the directions service. 
                //it takes the source destintion input value to find its long/lat through an if statament
                //and the users current location 
                //and it will display the results on the map and the actual written directions below!

                var curLat = pos.lat;
                var curLng = pos.lng;


                var x = document.getElementById("id_source").value;


                "{% if bus %}"
                "{% for p in bus %}"


                if (x == "{{ p.num }}") {

                    var lat = "{{ p.lat }}"
                    var long = "{{ p.lng }}"


                    lat = parseFloat(lat);
                    long = parseFloat(long);

                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();

                    var start = new google.maps.LatLng(curLat, curLng);
                    var end = new google.maps.LatLng(lat, long);

                    var mapProp = {
                        center: new google.maps.LatLng(53.347515, -6.265377),
                        zoom: 10,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);
                    directionsDisplay.setMap(map);
                    directionsDisplay.setPanel(document.getElementById('directionsPanel'));


                    function calcRoute() {

                        var request = {
                            origin: start,
                            destination: end,
                            travelMode: 'WALKING'
                        };
                        directionsService.route(request, function (result, status) {
                            if (status == 'OK') {
                                directionsDisplay.setDirections(result);
                            }
                        });

                    }

                    calcRoute();
                }



                "{% endfor %}"
                "{% endif %}"


            }

            var busMarkers = 0;

            function displayBusMarkers() {


                infoWindow = new google.maps.InfoWindow;
                infoBus = new google.maps.InfoWindow;

                if (busMarkers == 0) {


                    var markers = []


                    //this function displays the dublin bus markers

                    "{% if bus %}"
                    "{% for p in bus %}"

                    var data = "{{ p }}"
                    var lat = "{{ p.lat }}"
                    var long = "{{ p.lng }}"
                    var name = "{{ p.name }}"
                    var id = "{{ p.num }}";

                    var lat = parseFloat(lat);
                    var long = parseFloat(long);



                    var latlng = new google.maps.LatLng(lat, long);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        title: name

                    });

                    markers.push(marker);

                    google.maps.event.addListener(marker, 'mouseover', (function (markers) {
                        return function () {
                            infoBus.open(map, this);
                            infoBus.setContent('{{ p.name }}' + '<br>' + '(' + '{{ p.num }}' + ')');
                        }
                    })(markers));

                    google.maps.event.addListener(marker, 'click', (function (markers) {
                        return function () {

                            document.getElementById("id_source").value = '{{ p.num }}';
                        }
                    })(markers));


                    "{% endfor %}"
                    "{% endif %}"


                    var markerCluster = new MarkerClusterer(map, markers, {
                        imagePath: "{% static 'images/m' %}"
                    });

                    document.getElementById("markersbutton").innerHTML = "Hide Markers";

                    busMarkers++;

                } else {

                    var mapProp = {
                        center: new google.maps.LatLng(53.347515, -6.265377),
                        zoom: 10,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);

                    document.getElementById("markersbutton").innerHTML = "Markers";
                    busMarkers--;

                };
            }

            var bikeMarkers = 0;


            infoWindow = new google.maps.InfoWindow;
            infoBikes = new google.maps.InfoWindow;

            function displayBikeMarkers() {


                var jqxhr = $.getJSON('http://localhost:8000/dublinBikeInfo',
                    function (daily) {



                        if (bikeMarkers == 0) {

                            //this function displays the dublin bikes markers

                            var markers = [];
                            for (var i = 0; i < daily.length; i++) {


                                var lat = daily[i].lat;
                                var long = daily[i].lng;
                                var name = daily[i].name;


                                var busicon = {
                                    url: "{% static 'images/dublinBikes.png' %}", // url
                                    scaledSize: new google.maps.Size(40, 40), // scaled size            
                                };


                                var latlng = new google.maps.LatLng(lat, long);
                                var marker = new google.maps.Marker({
                                    position: latlng,
                                    icon: busicon,
                                    title: name
                                });

                                markers.push(marker);


                                google.maps.event.addListener(marker, 'click', (function (markers) {
                                    return function () {
                                        infoBikes.open(map, this);
                                        infoBikes.setContent(name);
                                    }
                                })(markers));

                            }

                            var markerCluster = new MarkerClusterer(map, markers, {
                                imagePath: "{% static 'images/m' %}"
                            });

                            bikeMarkers++;

                            document.getElementById("bikesbutton").innerHTML = "Hide Bikes";
                        } else {


                            var mapProp = {
                                center: new google.maps.LatLng(53.347515, -6.265377),
                                zoom: 10,
                            };
                            map = new google.maps.Map(document.getElementById("map"), mapProp);

                            document.getElementById("bikesbutton").innerHTML = "Bikes";
                            bikeMarkers--;

                        }


                    });

            };

            //Autocomplete for Route Search this is paired with an onfocus function to watch for a user click into the box. 
            function routeSearch() {
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        url: "dublinBusRoutes",
                        dataType: "json",

                        success: function (data) {
                            createArray(data);
                        }
                    });
                });


                function createArray(Data) {

                    var results = [];
                    for (var i = 0; i < Data.length; i++) {
                        results.push(Data[i].route);
                    }
                    $("#routeSearch").autocomplete({
                        source: results,
                        minLength: 1,
                    });
                }
            }
        </script>
</body>

{% endblock %}