{% load staticfiles %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/jquery.timepicker.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <title>Dublin Bus</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--        <script src= "jquery-3.1.1.min.js"></script>-->
    </head>
    
    <body>
        <script src = "{% static 'script/dbus.js' %}"></script>
        <script src = "{% static 'script/jquery.timepicker.min.js' %}"> </script>
        
  
        
        
        <div id = "Title">
            <a href = "index.html"><h1>Dublin Bus Travel Times</h1></a>
                <ul>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Fares">Fares</a></li>
                    <li><a href="tourism.html">Tourism</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            <h2>Innovation Station </h2>
            <a href = "index.html"><img src = "{% static 'images/Logo.png' %}" alt = "Innovation Station Logo" width = 40px height = 40px style = "position: absolute; right:20px; top:10px;"></a>
            
            
        </div>
        <div id = "main">
            <ul>
              <li><a href= "index.html">News</a></li>
              <li><a href= "stops.html">Stops</a></li>
              <li><a href="#routes">Routes</a></li>
                <button id = "trafficButton" onclick="toggleTraffic(this)">Show Traffic</button>
<br><br>

            </ul>
        <div id = "map"></div>
            
        </div>
        <div class = "row">
                <div id = "form">
                    <form id = "planner">
                        <div id = "source">
                        <div class = "address">
                            <div class = "j">From:</div> <input type="text" name="search" placeholder="Source..">
                            <a onclick = "swapAdd()">&#8645</a>
                            <input id = "single" type= "radio" name="trip" value="single" checked>Single
                            <input id = "ti" type="text" placeholder="--:--" name="search">
                            <input id = "dat" type="text" placeholder="xx/xx/xx" name="search">
                            
                            <script>
                                $('#ti').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now' });
                                $( function() {
                                $( "#dat" ).datepicker();
                                } );
                            </script>
                        </div>
                            <br><br>
                            
                            <div class = "address">
                            <div class = "j">To:</div> <input id = "destination" type="text" placeholder="Destination.." name="search2">
                                <input id = "return" type= "radio" name="trip" value="return">Return
                                <input id = "dis2" class = "disable" type="text" placeholder="--:--" name="search" disabled = true>
                                <input id = "dis" class = "disable" type="text" placeholder="xx/xx/xx" name="search" disabled = true>
                                <script>
                                    $('#dis2').timepicker({ 'forceRoundTime': true, 'scrollDefault': 'now' });
                                    $( function() {
                                    $( "#dis" ).datepicker();
                                    });
                                </script>
                        </div>
                        </div>
                        
                            <button style = "float:right;" type = "button" name = "go" onclick="timeEstimate()">Go!</button>
                        <div id = "timeEst"></div>
                        
        
                    </form>
                    
                </div>
                <div id = "dailyDiv"></div>
                <div id = "hourlyTable"></div>
                <div id = "date"></div>

            
        </div>
<!--
        <div class="footer">
            <p>Footer</p>
        </div>
-->
        <div id = "mapchange">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&callback=myMap" async defer></script>
        </div>
    </body>
    
</html>