{% load staticfiles %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
            <title>Dublin Bus</title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src = "{% static 'script/dbus.js' %}"></script>

        
        
        <div id = "Title">
            <a href = "index.html"><h1>Dublin Bus Travel Times</h1></a>
                <ul>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Fares">Fares</a></li>
                    <li><a href="#Tourism">Tourism</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            <h2>Innovation Station </h2>
            <a href = "index.html"><img src = "Images/Logo.png" alt = "Innovation Station Logo" width = 40px height = 40px style = "position: absolute; right:20px; top:10px;"></a>
            
            
        </div>
        <div id = "main">
            <ul>
              <li><a class="active" href="#home">News</a></li>
              <li><a href="stops.html">Stops</a></li>
              <li><a href="#routes">Routes</a></li>
                <button id = "trafficButton" onclick="toggleTraffic(this)">Show Traffic</button>
            </ul>
        <div id = "map"></div>
            
        </div>
        <div class = "row">
            <div class = "column" style="flex-grow: 9">
            </div>
            
            <div class = "column" style="flex-grow: 0">
                <div id = "dbtwitter">
                    <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div id = "dbtwitter">
                    <a class="twitter-timeline" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/aaroadwatch?ref_src=twsrc%5Etfw">Tweets by aaroadwatch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        </div>
<!--
        <div class="footer">
            <p>Footer</p>
        </div>
-->
        <div id = "mapchange">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TopsrUXWcqAxGDfmmbpJzAbZWyVx_s0&callback=myMap" async defer></script>
        </div>
    </body>
</html>
